:root {
    --bg-color: hsl(0, 0%, 95%);
    --txt-color: hsl(0, 0%, 100%, 0.75);
    --head-txt: 'Big Shoulders Display', cursive;
    --context: 'Lexend Deca', sans-serif;
    --fntsz: 30px;
    --borad: 20px;
}


body {
    background-color: var(--bg-color);
    
}

.container {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 60%;
    height: 60vh;
    color: var(--txt-color);
    line-height: 1.6;
    font-size: 15px;
    margin: 100px auto;
    justify-content: center;
    border-radius: 10px;
}

.container > div {
    flex: 1;
}

.headline {
    font-family: var(--head-txt);
    font-size: var(--fntsz);

}

.sedans {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    flex: 1;
    padding: 20px;
    background-color: hsl(31, 77%, 52%);
    font-family: var(--context);
    
}

.suvs {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    flex: 1;
    padding: 20px;
    background-color: hsl(184, 100%, 22%);
    font-family: var(--context);
}

.luxury {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    flex: 1;
    padding: 20px;
    background-color: hsl(179, 100%, 13%);
    font-family: var(--context);

}

.sbutton {
    color: hsl(31, 77%, 52%);
    background-color: var(--bg-color);
    font-family: var(--context);
    border-style: none;
    border-radius: var(--borad);
    padding: 10px 20px;
}

.suvbutton {
    color: hsl(184, 100%, 22%);
    background-color: var(--bg-color);
    font-family: var(--context);
    border-style: none;
    border-radius: var(--borad);
    padding: 10px 20px;
}

.luxbutton {
    color: hsl(179, 100%, 13%);
    background-color: var(--bg-color);
    font-family: var(--context);
    border-style: none;
    border-radius: var(--borad);
    padding: 10px 20px;
}

@media screen and (max-width:375px) {
    .container {
        flex-direction: column;
    }
}


@media screen and (max-width: 800px) {
    .container {
        font-size: 12px;

    }

}