:root {
    --bg-color: hsl(0, 0%, 100%, 0.75);
    --txt-color: hsl(0, 0%, 100%, 0.75);
    --head-txt: 'Big Shoulders Display', cursive;
    --context: 'Lexend Deca', sans-serif;
}


body {
    background-color: var(--bg-color);
}

.container {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 60%;
    height: 60vh;
    color: var(--txt-color);
    
}

.container > div {
    flex: 1;
}

.headline {
    font-family: var(--head-txt);

}

.sedans {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    flex: 1;
    background-color: hsl(31, 77%, 52%);
    font-family: var(--context);
    
}

.suvs {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    flex: 1;
    background-color: hsl(184, 100%, 22%);
    font-family: var(--context);
}

.luxury {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    flex: 1;
    background-color: hsl(179, 100%, 13%);
    font-family: var(--context);

}